.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $medium-screen: 600px;
  $hero-color: $dark-gray;

  background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    @include media($large-screen){
      padding: 3.5em;
    }
    padding: 1em;
    text-align: center;

    input {
      @include media($medium-screen){
        max-width: 33%;
      }
      margin: 2rem auto;
    }

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 2.5em;

        @include media($large-screen) {
          font-size: 3.5em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.5em;
          max-width: 50%;
        }
      }
    }
  }
}
