---
title: How to Become a Web Developer
---
<section class="landing">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>How To Become a Web Developer</h1>
        <p>Get a high paying job in a thriving industry desperate for talent.</p>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//elliotec.us3.list-manage.com/subscribe/post?u=96c71bb9a9a0b6cdca9042722&amp;id=96adc10c18" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" placeholder="Enter Email" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_96c71bb9a9a0b6cdca9042722_96adc10c18" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Get eBook" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->

      </div>
    </div>
  </div>
  <div class="device-background">
    <div class="device-text">
      <h4>No experience necessary</h4>
      <p>This is a guide to becoming a web developer from step zero to producing web applications and generating income from multiple possible sources.</p>
      <p>If you're considering a career change or jumping into web development while getting your share of the high-tech gold rush, this book is for you.</p>
      <p> All levels of experience can benefit from this book, from those who've never written a line of code to software veterans ready for consulting or working elsewhere.</p>
    </div>
    <div class="device">
      <div class="screen">
        <h1>How to Become a Web Developer</h1>
        <p class="author">By Michael Elliott</p>
      </div>
    </div>
  </div>
  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
        " alt="">
      </div>
      <div class="bullet-content">
        <h2>What You'll Learn</h2>
        <ul>
          <li>- How to start creating functional web apps</li>
          <li>- Fundamentals of design and UX</li>
          <li>- Goal-oriented networking strategies</li>
          <li>- Many coding practices and philosophies</li>
          <li>- How to nail a coding interview</li>
          <li>- Basics of starting a freelancing business</li>
        </ul>
        <p></p>
      </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>About the Author</h2>
        <p>Michael Elliott runs a solo consultancy as elliotec, is a development mentor at Thinkful, a technical adviser at Tinker Ventures, and leads a software development team at Overstock. Michael rapidly went from barista with a degree in Psychology to an OSS contributor, dev lead, and hiring manager, while teaching and consulting in between. His hobbies include outdoor activities and indoor activities.</p>
      </div>
    </li>
    <li class="bullet">
    </li>
  </ul>
</section>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


