---
title: How to Become a Web Developer
---
<section class="landing">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>How To Become a Web Developer</h1>
        <p>Get a high paying job in a thriving industry desperate for talent.</p>
        <button>Check it out!</button>
      </div>
    </div>
  </div>
  <div class="device-background">
    <div class="device-text">
      <h4>What's in the book</h4>
      <p>This book is a guide to becoming a web developer from step zero to producing applications for the web and generating an income from multiple possible sources.</p>
      <p>Some of the topics covered include:</p>
      <ul>
        <li>Where to start</li>
        <li>What to do</li>
        <li>How to do it</li>
      </ul>
    </div>
    <div class="device">
      <div class="screen"></div>
    </div>
  </div>
</section>
