---
title: How to Become a Web Developer
---
<section class="landing">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>How To Become a Web Developer</h1>
        <p>Get a high paying job in a thriving industry desperate for talent.</p>
        <input type="email" placeholder="Enter Email">
        <button>Get eBook</button>
      </div>
    </div>
  </div>
  <div class="device-background">
    <div class="device-text">
      <h4>No experience necessary</h4>
      <p>This is a guide to becoming a web developer from step zero to producing web applications and generating income from multiple possible sources.</p>
      <p>If you're considering a career change or jumping into web development while getting your share of the high-tech gold rush, this book is for you.</p>
      <p> All levels of experience can benefit from this book, from those who've never written a line of code to software veterans ready for consulting or working elsewhere.</p>
    </div>
    <div class="device">
      <div class="screen">
        <h1>How to Become a Web Developer</h1>
        <p class="author">By Michael Elliott</p>
      </div>
    </div>
  </div>
  <ul class="bullets">
    <li class="bullet">
      <div class="bullet-icon bullet-icon-1">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
  " alt="">
      </div>
      <div class="bullet-content">
        <h2>What You'll Learn</h2>
        <ul>
          <li>- How to build your first website</li>
          <li>- What to learn to create functional software products</li>
          <li>- How to get swathes of recruiters contacting you</li>
          <li>- Good coding practices</li>
          <li>- Networking strategies</li>
          <li>- How to nail a coding interview</li>
          <li>- How to run a freelancing business</li>
        </ul>
        <p></p>
        </div>
    </li>
    <li class="bullet">
      <div class="bullet-icon bullet-icon-2">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
      </div>
      <div class="bullet-content">
        <h2>About the Author</h2>
        <p>Michael Elliott runs a solo consultancy by the name of elliotec, is a development mentor at Thinkful, a technical adviser at Tinker Ventures, and leads a software development team at Overstock. Michael rapidly went from barista with a degree in Psychology to a dev lead and hiring manager, while teaching and consulting in between.</p>
      </div>
    </li>
    <li class="bullet">
    </li>
  </ul>
</section>
