---
title: How to Become a Web Developer
---
<section class="landing">
  <div class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>How To Become a Web Developer</h1>
        <p>Get a high paying job in a thriving industry desperate for talent.</p>
        <button>Check it out!</button>
      </div>
    </div>
  </div>
  <div class="device-background">
    <div class="device-text">
      <h4>No experience necessary</h4>
      <p>This is a guide to becoming a web developer from step zero to producing web applications and generating income from multiple possible sources. If you're considering a career change or jumping into web development while getting your share of the high-tech gold rush, this book is for you.<p> All levels of experience can benefit from this book, from those who've never written a line of code to software veterans ready for consulting or working elsewhere.</p>
    </div>
    <div class="device">
      <div class="screen"></div>
    </div>
  </div>
</section>
